#game-area {
  position: relative;
  margin:30px 40px;
  background-color: hsl(0,0%,97%);
}

.food,
.snake-body {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.snake-body::before,
.food::before
{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
}

.snake-body::before
{
  background-color: rgb(255 167 63);
}

.food
{
  --color:hsl(140deg 57% 49%);
}

.food::before {

  background-color: var(--color);
}

#game-area{
  border: 1px solid gray;
}

.head{
  z-index: 1;
}

.head::before{
  background-color: hsl(207deg 100% 54%);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 300px;  
}

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.over{
  background-color: red;
}

#key-listener{
  position: absolute;
  transform: scale(0,0);
}

#controller{
  display: flex;
  height: 40px;
  align-items: center;
}

.flex{
  display: flex;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

#status-bar{
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#status-button {
  height: 36px;
  width: 70px;
}

.setting-input {
  appearance: textfield;
  outline-style: none;
  width: 50px;
  height: 20px;
  text-align: center;
}

.setting{
  margin-bottom: 10px;
  text-align: center;
}

.relative {
  position: relative;
}
